main {
    display: flex;
    justify-content: center;
    flex-direction: column; 
}
.search-box {
    width: 30%;
    height: 10%;
}

.repo-select {
    display: flex;
    flex-direction: row;
    width: 80%;
}
.repo-select li {
    list-style-type: none;
}