main {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    width: 80%;
}
.search-box {
    width: 30%;
    height: 10%;
}

.errors {
    font-family: monospace;
    color: red;
    padding: 2px;
    border: 1px solid red;
}

.repo-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.repo-select li {
    list-style-type: none;
    margin-right: 20px;
    flex: 1;
}